/* custom.css */
.custom-table th, .custom-table td {
    border: 1px solid #343a40; 
  }
  
  .custom-table th {
    background-color: #495057; 
    color: white;
    text-align: center;
  }
  
  .custom-table td {
    background-color: #e9ecef; 
    color: #000000; 
    text-align: center;
  }
  
  .custom-table select, .custom-table input {
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  
  .button {
    background-color: #495057; 
  }
  
  .analytics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-container {
    width: 80%;
    max-width: 600px;
    height: 400px; 
    margin-bottom: 20px;
  }
  
  .chart-container canvas {
    height: 100% !important;
    width: 100% !important;
  }
  
  